/* DEBUG:

[class^="col-"]:nth-of-type(1n+2) {
  background-color: blue;
}

[class^="col-"]:nth-of-type(2n+2) {
  background-color: pink;
}

.row-bg {
  background: gray;
} */

/* UTILITES */

.pos-relative {
  position: relative;
}

.--spacer-top {
  margin-top: 20px;
}

.--spacer-btm {
  margin-bottom: 40px;
}

.section__bg--gray {
  background-color: #f3f5f9;
}

.section__bg--gradient {
  background-image: linear-gradient(#0033cc, #003399);
}

.section__logo--resize{
  max-height: 30px;
  max-width: 30px;
}

.auto-margin {
  margin: auto;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: 'Roboto', sans-serif;
}

.section__subtitle {
  color: #6f7b97;
  font-size: 18px;
}

.section__title--default {
  color: #003366;
}

.section__title--white {
  color: #FFF;
}

.bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 700;
}

/* NAV STYLES */

.nav__logo {
  height: 30px;
  transform: translateY(-5px);
}

.nav--white-bg {
  background-color: #FFF;
}

.item__dropdown::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  margin-left: 5px;
  margin-right: 10px;
}

.button--blue {
  background-color: #FFF;
  border: 1px solid #006aff;
  border-radius: 3px;
  font-weight: 400;
  color: #006aff;
}

.nav--pad-y {
  padding: 20px 0;
}

.nav__col--line-height {
  line-height: 1.5;
}

/* HAMBURGER */

.hamburger {
height: 50px;
width: 50px;
background-color: red;
}

/* JUMBOTRON */

.jumbotron__background {
  background-image: url("../img/bg-banner-home.jpg");
  background-position: center;
  background-size: cover;
}

.jumbotron__h1--style {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 50px;
  color: #FFF;
}

.jumbotron__h2--style {
  font-size: 20px;
  color: #bbccff;
}

.form__wrapper {
  padding: 15px;
  margin: 50px 15px;
  background-color: #FFF;
}

.form__disclaimer--extra-small {
  font-size: 12px;
}

.btn--full-width {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.btn--blue {
  background-color: #579aff;
  border: 1px solid #579aff;
  color: #FFF;
}

.btn__logo {
  position: absolute;
  left: 10px;
  top: 5px;
  height: 20px;
  width: 20px;
  transform: translate(-25%, 5%);
}

/* PARTNERS */

.partners__wrapper {
  /*max-width: calc(100% / 6);*/
  line-height: 10;
}

/* DEBUG: add media query to smoothen the transition or USE UL */

.partners__img {
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
}

.h3__partners--style {
  text-transform: uppercase;
  color: #6f7b97;
  font-size: 16px;
}

/* DEPLOY Section */

.interactive__ul {
  list-style: none;
  border-left: 1px solid;
  padding: 10px 5px;
}

.interactive__ul__li:hover {
  background-color: #f3f5f9;
}

.deploy__title {
  font-size: 20px;
  font-weight: 600;
  color: #003366;
}

.deploy__info {
  font-size: 14px;
  color: #5c6a88;
}

/* Slider section */

.slider__chevron__l::before {
  position: absolute;
  top: 50%;
  left: -40px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #6f7b97;
  content: "\f053";
}

.slider__chevron__r::after {
  position: absolute;
  top: 50%;
  right: -40px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #003366;
  content: "\f054";
}

.slider__chevron--font-size {
  font-size: 48px;
}

.slider__caption--style {
  font-size: 16px;
  color: #003366;
}

.slider__dot--active {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #006aff;
  background-color: #006aff;
}

.slider__dot--inactive {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #006aff;
  background-color: transparent;
}

.slider__dot--inactive:hover {
  background-color: #006aff;
}

/* SERVER TABLE */

.col__divider--style {
  border-bottom: 1px solid #FFF;
  margin: 10px;
}

.table__head__p--style {
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
}

.table__content__p--style {
  color: #ccccff;
  font-size: 14px;
}

.table__ref__a--style {
  text-decoration: none;
  color: #00cccc;
}

/* HERO STORIES STYLES */

.hero__container--bg-white {
  background-color: #FFF;
  padding: 75px 5px;
  margin: 25px 0;
}
